*{
	margin: 0;
	padding: 0;
  
  }
  body{
		  background-color: #ecf0f9;
  }
  
  .wfont{
	  font-size:14px;
	  font-weight: bold;
  }
  .overlay {
	  position: absolute;
	  left: 0;
	  right: 0;
	  top: 0;
	  bottom: 0;
  }
  
  
  .container {
	  max-width: 1920px;
  }
  
  .container{
	  padding: 5px;
	  padding-left: 0px;
	  padding-right: 0px;
  }
  
  #list>ul{
	margin-left:200px;
	
  }
  #list>ul>li{
	  padding-left: 2rem
}
  @media screen and (min-width:480px){
	  .char{
		  position: absolute;
		  z-index: 10;
		  margin-bottom: 40px;
  
	  }
  
  }
  
  @media screen and (min-width:768px){
	  .char{
		  position: absolute;
		  z-index: 10;
		  margin-bottom: 80px;
  
	  }
  }
  @media screen and (min-width:992px){
	  .char{
		  position: absolute;
		  z-index: 10;
		  margin-bottom: 100px;
  
	  }
  }
  @media screen and (min-width:1200px){
	  .char{
		  position: absolute;
		  z-index: 10;
		  margin-bottom: 140px;
  
	  }
  }
 .search{
	 margin-left: -30px;
 }
 .input{
	 line-height: 1.8rem;
 }
 .login{
	 color: #666;
 }